################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeFabIntepreter/CodeFabIntepreter/CodeFabIntepreter.vcxproj.user
